# Ignore node_modules directory
node_modules/

# Ignore IDE/Editor files
.vscode/
.idea/
*.iml

# Ignore npm lock files
package-lock.json

# Ignore log files
*.log

# Ignore environment files
.env
