@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500;600;700&display=swap');
body {
    background-color: black;
    font-family: "IBM Plex Sans KR", sans-serif;
}

select, input, button, span, textarea {
    font-family: "IBM Plex Sans KR", sans-serif;
}

img{
    border:0;
}

